/* ===== BASE ===== */
:root {
    --primary-color: #EE4D2D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, input, button {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

input, button {
    outline: none !important;
    border: none;
}

button {
    cursor: pointer;
}

.fix::after,
.fix::before {
    content: "";
    display: table;
    clear: both;
}

.col-5 { width: 20%; }
.col-6 { width: 16.6667%; }
.col-10 { width: 10%; }

.flex {
    display: flex;
    flex-wrap: wrap;
}

.grid-layout {
    display: grid;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.bg-second {
    background: #f5f5f5;
}

.bg-third {
    background: #fbfbfb;
}

.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid #eee;
}

/* ===== SWIPER ===== */
.swiper-container {
    height: 100%;
}

/* Pagination */
.swiper-pagination {
    position: absolute;
    text-align: center !important;
    z-index: 1;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    background: #fff !important;
    opacity: 0.6 !important;
}

.swiper-pagination-bullet:focus {
    outline: none !important;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color) !important;
    opacity: 1 !important;
    outline: none !important;
}

.slider-group2 {
    display: flex;
    flex-direction: column;
}

/* Navigation */
.navigation-swiper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    outline: none !important;
}

.swiper:hover .navigation-swiper {
    display: block;
}

/* Type 1 */
.navigation-swiper.type-1 {
    display: none;
    width: 35px;
    height: 60px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    line-height: 60px !important;
}

.swiper-container:hover .navigation-swiper.type-1 {
    display: block;
}

.navigation-swiper.type-1:hover {
    background: rgba(0, 0, 0, 0.3);
}

.navigation-prev.type-1 {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.navigation-next.type-1 {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Type 2 */
.navigation-swiper.type-2 {
    width: 25px;
    height: 25px;
    font-size: 12px;
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
    text-align: center;
    line-height: 25px !important;
    transition: 0.3s;
}

.navigation-swiper.type-2:hover {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px !important;
}

.navigation-swiper.type-2.swiper-button-disabled {
    display: none;
}

.navigation-prev.type-2 {
    left: 0;
    transform: translate(-50%, -50%);
}

.navigation-next.type-2 {
    right: 0;
    transform: translate(50%, -50%);
}
/* ===== PRODUCT TYPE LAYOUT ===== */
.product {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff;
} 

.product:last-child {
    border-right: none;
}

.product-img {
    display: block;
    width: 162px;
    height: 162px;
}

.product-price {
    font-size: 18px;
    color: #ee4d2e;
    text-align: center;
    padding-top: 20px;
}

.product-price::first-letter {
    font-size: 12px;
    margin-right: 3px;
}

.product-discount {
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    background: rgba(255, 212, 36, 0.9);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.product-discount::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    border-color: transparent rgba(255, 212, 36, 0.9);
    border-style: solid;
    border-width: 0px 25px 5px;
}

.discount-percen {
    display: block;
    color: var(--primary-color);
    margin-bottom: 2px;
}

.product-freeship {
    position: absolute;
    top: -28px;
    left: 15px;
    height: 190px;
}

.product-soldbar {
    width: 160px;
    height: 16px;
    background: #ee2d14;
    border-radius: 16px;
    margin-top: 5px;
    position: relative;
}

.soldbar-amount {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.soldbar-percen {
    height: 100%;
    background: #ffbda6;
    border-radius: 0 16px 16px 0;
    position: absolute;
    top: 0;
    right: 0;
}

[class*="product-badge"] {
    position: absolute;
    top: 15px;
    left: -5px;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
}

[class*="product-badge"]::before {
    content: "";
    display: block;
    position: absolute;
    left: -6px;
    bottom: -4px;
    border-color: transparent #8a2d1a transparent transparent;
    border-style: solid;
    border-width: 0px 6px 5px;
}

.product-badge--like {
    background: var(--primary-color);
}

.product-badge--mail {
    background: #d0011b;
}

.product-sponsor {
    font-size: 12px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    position: absolute;
    top: 160px;
    right: 10px;
}

.product-desc {
    padding: 10px;
}

.product-namexvoucher {
    height: 50px;
}

.product-name {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product-voucher {
    font-size: 10px;
    background: #f69113;
    color: #fff;
    padding: 0 5px;
}

.product-pricexamount {
    padding: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-amount {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.product-similar {
    display: block;
    width: 100%;
    height: 30px;
    background: var(--primary-color);
    color: #fff;
    outline: 1px solid var(--primary-color);
    text-align: center;
    line-height: 30px;
    opacity: 0;
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 2;
}

/* Type 2 */
.product-type-2 .product {
    margin: 5px;
    overflow: visible;
    padding-bottom: 0;
}

.product-type-2 .product-img {
    width: 100%;
    height: auto;
}

.product-type-2 .product-discount {
    top: -7px;
    right: -7px;
    transform: scale(0.7);
}

.product-type-2 .product-freeship {
    top: 0;
    left: 0;
}

.product-type-2 .product-price {
    font-size: 16px;
    padding-top: 0;
}

/* ===== OVELAY ===== */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

/* ===== MODAL ===== */
/* Register Modal */
#register-modal {
    display: none;
}

#login-modal {
    display: none;
}

/* Base Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-container {
    padding: 30px;
    width: 400px;
}

.modal-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}

.modal-close {
    font-size: 20px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.modal-close:hover {
    color: rgb(255, 60, 60);
}

.modal-input {
    padding: 15px;
    margin-bottom: 30px;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
}

.modal-input:focus {
    border: 1px solid rgba(0,0,0,0.5);
}

.modal-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.modal-submit {
    padding: 12px;
    width: 100%;
    font-size: 14px;
    background: var(--primary-color);
    color: #fff;
    /* opacity: 0.7; */
    border: none;
    cursor: pointer;
}

.modal-submit:hover {
    opacity: 0.9;
}

.submit-register {
    margin-bottom: 40px;
}

.submit-login {
    margin-bottom: 10px;
}

.modal-support {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.modal-support a {
    color: #0055aa;
}

.modal-seperate {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

.modal-seperate span {
    padding: 0 15px;
}

.modal-line {
    width: 100%;
    height: 1px;
    background: #bdbdbd;
}

.modal-socials {
    margin-bottom: 40px;
    justify-content: space-between;
}

.modal-social-btn {
    padding: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
}

.modal-social-icon {
    margin-right: 10px;
    font-size: 22px;
    color: #fff;
}

.modal-social-btn span {
    color: #fff;
}

.modal-link-facebook {
    background: #1877f2;
}

.modal-link-google {
    background: #4285f4;
}

.modal-link-apple {
    background: #000;
}

.modal-terms {
    margin-bottom: 30px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
}

.modal-terms-link {
    color: var(--primary-color);
}

.modal-other-link {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

.modal-other-link a {
    color: var(--primary-color);
}

/* FLOATING ICON */
.floating-icon {
    position: fixed;
    right: 30px;
    bottom: 13vh;
    z-index: 100;
}

/* ===== HEADER ===== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 120px;
    height: auto;
    background: linear-gradient(0, #fe6433, #f53e2d);
    z-index: 10;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    color: #fff;
}

.header__item {
    display: inline-block;
    padding: 7px 0;
    margin: 0 7px;
    position: relative;
}

.header__item > a {
    line-height: 16px;
    color: #fff;
}

.header__item > a:hover {
    opacity: 0.7;
}

.header-separate::after{
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    background: #fff;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__top__connect-icon {
    margin-left: 7px;
}

.header__download {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    padding: 5px 0 10px;
    width: 190px;
    background: #fff;
    border-radius: 5px;
    z-index: 1000;
}

.header__item:hover .header__download {
    display: block;
}

.header__download-qr {
    cursor: pointer;
}

.header__download-links {
    padding: 0 10px;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.header__download-link {
    width: 70px;
    cursor: pointer;
}

.header__notification {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    width: 400px;
    height: 350px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 25%);
    z-index: 1000;
}

.header__item:hover .header__notification {
    display: block;
}

.header__notification::before {
    content: "";
    border: solid;
    border-width: 20px 40px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -28px;
    right: 0px;
}

.header__notification-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 310px;
}

.header__notification-content-img {
    width: 100px;
    height: 100px;
}

.header__notification-content-desc {
    margin-top: 40px;
    color: hsla(0, 0%, 0%, 0.7);
}

.header__notification-btns {
    display: flex;
}

.header__notification-btn {
    width: 50%;
    height: 40px;
    background: #f5f5f5;
    color: hsla(0, 0%, 0%, 0.7);
    line-height: 40px;
    text-align: center;
}

.header__notification-btn:hover {
    background: #e8e8e8;
    color: var(--primary-color);
}

.header__body {
    padding: 16px 0 10px;
    align-items: center;
}

.header__logo {
    display: inline-block;
    margin-right: 40px;
    align-self: baseline;
}

.header__logo-svg {
    width: 162px;
    height: 50px;
    fill: #fff;
}

.header__search {
    flex-grow: 1;
}

.header__search-main {
    position: relative;
}

.search-input {
    padding: 12px;
    width: 100%;
    font-size: 14px;
    color: #000;
    border: none;
    border-radius: 3px;
}

.search-input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.search-btn {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 60px;
    height: 34px;
    background: #fb6445;
    color: #fff;
    border-radius: 3px;
}

.search-btn-icon {
    font-size: 14px;
}

.header__search-history {
    display: none;
    width: 90%;
    position: absolute;
    top: 45px;
    left: 0;
    background: #fff;
    box-shadow: 0 0px 10px 0px rgb(0 0 0 / 50%);
}

.search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history a {
    display: block;
    padding: 12px 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.header__search-history a:hover {
    background: #fafafa;
    color: var(--primary-color);
}

.header__search-history .search-shop {
    display: none;
}

.search-shop-icon {
    font-size: 13px;
    color: var(--primary-color);
    margin-right: 5px;
}

.header__search-regular a {
    display: inline-block;
    margin-top: 5px;
    margin-right: 12px;
    font-size: 12px;
    color :#fff;
}

.header__search-regular a:hover {
    opacity: 0.7;
}

.header__cart {
    width: 138px;
    text-align: center;
    position: relative;
    top: -5px;
}

.cart-icon {
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}

.header__cart-content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 40px;
    width: 400px;
    height: 260px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 25%);
    z-index: 1000;
}

.header__cart:hover .header__cart-content {
    display: flex;
}

.header__cart-content::before {
    content: "";
    border: solid;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -30px;
    right: -2px;
}

.cart-content-img {
    width: 100px;
    height: 100px;
}

.cart-content-desc {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.8);
}

/* ===== MAIN ===== */
.main {
    margin-top: 120px;
    background: #f5f5f5;
}

/* ===== BANNER ===== */
.banner {
    padding-top: 30px;
    background: url(https://cf.shopee.vn/file/789323fd44c750feeb24cdcfa62f46fe) center top / 100% no-repeat;
}

/* Home Banner */
.home__banner {
    display: flex;
    height: 235px;
}

.home__banner-big-wrapper {
    flex: 2 1 0;
    min-width: 0;
}

.home__banner-slider {
    height: 100%;
}

.home__banner-small-wrapper {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    margin-left: 5px;
}

.home__banner-slider-item {
    height: 100%;
    width: 100%;
}

.home__banner__link {
    display: block;
    height: 100%;
    width: 100%;
    min-height: 0;
}

.home__banner-small-wrapper .home__banner__link:last-child {
    margin-top: 5px;
}

.home__banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Type Banner */
.type__banner {
    margin-top: 10px;
    padding-top: 20px;
    background: #fff;
    justify-content: space-around;
}

.type__banner-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    transition: 0.3s;
}

.type__banner-item:hover {
    transform: translateY(-5px);
}

.type__banner-img {
    width: 45px;
    height: 45px;
}

.type__banner-desc {
    margin: 8px 0;
    font-size: 13px;
    color: #222;
    text-align: center;
}

/* Wellcome Banner*/
.banner-bg {
    background: #f5f5f5;
}

.wellcome__banner {
    margin-top: 20px;
    height: 110px;
}

/* ===== SELLING PRODUCT ===== */
.selling__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background: #fff;
}

.selling__title {
    width: 700px;
    height: 80px;
    font-size: 30px;
    background: #ffaa01;
    border-radius: 40px;
    text-align: center;
    line-height: 80px;
    z-index: 1;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.selling__title span {
    color: #fff;
    font-weight: 900;
    text-shadow: 4px 4px 5px rgb(0 0 0 / 50%);
}

.selling__box {
    width: 100%;
    background: #ffebda;
    border-radius: 15px;
    padding: 10px;
    margin-top: 40px;
    position: relative;
}

.selling-readmore {
    margin-top: 50px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
}

.selling-readmore a {
    color: var(--primary-color);
}

.selling-readmore i {
    font-size: 10px;
}

.selling__products {
    background: #fff;
    margin-bottom: 20px;
}

.selling__products .product {
    border-right: 1px solid #ffebda;
}


/* ===== CATEGORY ===== */
.category__container {
    margin-top: 20px;
    background: #fff;
}

.category__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.category-slider {
    position: relative;
}

.category__item {
    display: block;
    padding: 10px 5px;
    height: 150px;
    text-align: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: 0.3s;
}

.category__item:hover {
    box-shadow: 0px 0px 20px -2px rgb(0 0 0 / 20%)
}

.category-img {
    margin-bottom: 10px;
    width: 83px;
    height: 76px;
}

.category-name {
    color: rgba(0, 0, 0, 0.8);
}

/* ===== FLASH SHARE ===== */
.flash__container {
    margin-top: 20px;
    background: #fff;
}

.flash__title-img {
    width: 144px;
    height: 30px;
}

.flash-seemore {
    font-size: 15px;
    color: var(--primary-color);
}

.flash-seemore i {
    font-size: 12px;
}

/* ===== SKINNY BANNER ===== */
.skinny__container {
    background: #fff;
    padding: 5px 0;
    margin-top: 20px;
}

.skinny-img {
    width: 33.333%;
}

/* ===== SHOPPE MAIL ===== */
.mail__container {
    margin-top: 20px;
    background: #fff;
}

.mail__title {
    justify-content: space-between;
}

.mail__title-name {
    font-size: 16px;
    color: #d0011b;
    font-weight: 500;
    margin-right: 15px;
    position: relative;
}

.mail__title-name::after{
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    background: #ccc;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.endow {
    margin-left: 15px;
}

.endow-item {
    font-size: 14px;
    margin-right: 15px;
    color: #333;
}

.endow-icon {
    margin-right: 5px;
    color: #d0011b;
}

.mail-seemore {
    font-size: 14px;
    color: #d0011b;
}

.mail-seemore-icon {
    font-size: 16px;
    margin-left: 5px;
}

.mail__content {
    flex-wrap: nowrap;
}

.mail__banner-wrapper {
    width: 33.3333%;
    padding: 10px 0 10px 10px;
}

.mail__banner__link {
    display: block;
    margin: 0;
    padding: 0;
}

.mail__products-wrapper {
    position: relative;
    width: 66.6666%;
}

.mail__products-slider {
    height: 100%;
}

.mail__products-group {
    display: flex;
    width: 25%;
    height: 100%;
    padding: 10px;
    flex-direction: column;
}

.mail__product__item {
    position: relative;
    height: 50%;
}

.mail__product__link {
    display: block;
}

.mail__banner__img,
.mail__product__img {
    width: 100%;
    height: 100%;
}

.mail__product__desc {
    position: absolute;
    bottom: 25px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #d0011b;
}

.mail__product-seemore {
    padding-top: 50%;
}

.mail__product-seemore a {
    display: block;
    font-size: 16px;
    color: #d0011b;
    text-align: center;
} 

/* ===== SEARCH TREND ===== */
.search-trend__container {
    margin-top: 20px;
    background: #fff;
}

.search-trend__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.search-trend-seemore {
    font-size: 14px;
    color: var(--primary-color);
}

.search-trend-seemore-icon {
    font-size: 12px;
    margin-right: 5px;
}

.search-trend__item {
    width: 20%;
    display: flex;
    border-right: 1px solid #eee;
}

.search-trend__item:last-child {
    border-right: none;
}

.search-item-desc {
    padding: 20px;
    padding-right: 10px;
}

.search-item-name {
    font-size: 14px;
    color: #222;
}

.search-item-amount {
    margin-top: 5px;
    font-size: 13px;
    color: #757575;
}

.search-item-img {
    width: 100px;
}

/* ===== TOP SEARCH ===== */
.top-search__container {
    margin-top: 20px;
    background: #fff;
}

.top-search__title {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.top-search-seemore {
    font-size: 14px;
    color: var(--primary-color);
}

.top-search-slider {
    position: relative;
}

.top-search__item {
    padding: 30px 30px 20px;
    width: 33.3333%;
}

.top-search__item+.top-search__item {
    border-left: 1px solid #eee;
}

.top-search-imgs {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
}

[class*="top-search-img"] {
    position: relative;
}

.top-search-img--big {
    grid-row: 1/3;
    position: relative;
}

.top-search-amount {
    width: 100%;
    height: 25px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.top-search-tag {
    width: 24px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-search-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    line-height: 20px;
}

/* ===== SUGGESTION ===== */
.suggestion {
    padding-bottom: 70px;
}

.suggestion__title {
    position: sticky;
    top: 120px;
    margin-top: 20px;
    background: #fff;
    justify-content: unset;
    align-items: center;
    z-index: 2;
}

.suggestion__tab {
    padding: 20px 45px;
    position: relative;
    cursor: pointer;
}

.suggestion-tabs-line {
    display: none;
    width: 100%;
    height: 4px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.suggestion__tab.active .suggestion-tabs-line {
    display: block;
}

.tab-suggestion {
    font-size: 16px;
    height: 60px;
    color: var(--primary-color);
}

.tab-hoan-xu {
    width: 160px;
    height: 20px;
    box-sizing: content-box;
}

.suggestion__products {
    display: none;
}

.suggestion__products.active {
    display: flex;
    flex-wrap: wrap;
}

.suggestion__product {
    position: relative;
    transition: 0.3s;
}

.suggestion__product:hover {
    z-index: 1;
    transform: translateY(-3px);
    outline: 1px solid var(--primary-color);
}

.suggestion__product:hover .product-similar {
    opacity: 1;
}

.suggestion__seemore {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 390px;
    height: 40px;
    font-size: 14px;
    background: #fff;
    color: #555;
    border: 1px solid rgba(0,0,0,.09);
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.suggestion__seemore:hover {
    background: rgba(0, 0, 0, 0.05)
}

/* ===== FOOTER ===== */
/* FOOTER INFO */
.footer__info {
    border-top: 4px solid var(--primary-color);
}

.info__container {
    padding: 65px 0 35px;
    border-bottom: 1px solid #eee;
}

.info__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.info__desc {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 1.3;
}

.info__desc a {
    color: #1155cc;
    text-decoration: revert;
}

/* FOOTER CATEGORY */
.footer__category__container {
    padding: 65px 0;
}

.footer__category__title {
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.footer__category__list {
    margin: 0 -5px;
}

.footer__category__item {
    padding: 0 5px;
    margin-bottom: 15px;
}

.footer__category__item-title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5px;
}

.footer__category__item-list a {
    display: inline-block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
    padding: 2px 0;
    margin-right: 5px;
}

.footer__category__item-list a:not(:last-child)::after {
    content: "|";
    display: inline-block;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.5) !important;
}

.footer__category__item a:hover {
    color: var(--primary-color);
}

/* FOOTER INTRODUCE */
.introduce__container {
    padding-top: 40px;
}

.introduce__list {
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.introduce__item-title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    margin: 15px 0;
}

.introduce__item-list a {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 10px;
}

.introduce__item-list a:hover,
.introduce__social-list a:hover {
    color: var(--primary-color);
}

.pay-img,
.transport-img {
    width: auto;
}

.introduce__social-list a {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 15px;
}

.introduce__social-icon {
    font-size: 18px;
    margin-right: 5px;
}

.introduce__download-imgs {
    align-items: center;
}

.introduce__download-img-qr {
    width: 86px;
    height: 86px;
    margin-right: 15px;
}

.introduce__download-img-app {
    display: block;
    width: 80px;
    height: 20px;
    margin-bottom: 6px;
}

.introduce__region,
.introduce__region a {
    padding: 40px 0;
    color: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
}

/* FOOTER DESCRIPTION */
.footer__description {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.footer__description__container {
    padding: 40px 0;
}

.description__policy a {
    display: inline-block;
    padding: 0 25px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.description__policy a+a {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.description__license-imgs {
    padding: 40px 0 10px;
}

.description__license-imgs img {
    width: 120px;
    height: auto;
    margin: 0 25px;
}

.description__company {
    padding-bottom: 25px;
}

.description__contact p {
    margin-bottom: 10px;
}